.theme-black {
  --theme-bg: theme('colors.black');
  --theme-bg-alt: rgba(255, 255, 255, 0.05);
  --theme-text: theme('colors.white');
  --theme-text-alt: theme('colors.gray.dark');
  --theme-btn-bg: theme('colors.turquoise.DEFAULT');
  --theme-btn-bg-hover: theme('colors.turquoise.dark');
  --theme-btn-text: theme('colors.black');
}

.theme-white {
  --theme-bg: theme('colors.white');
  --theme-bg-alt: rgba(0, 0, 0, 0.05);
  --theme-text: theme('colors.black');
  --theme-text-alt: theme('colors.gray.DEFAULT');
  --theme-btn-bg: theme('colors.black');
  --theme-btn-bg-hover: theme('colors.gray.dark');
  --theme-btn-text: theme('colors.white');
}

.theme-green {
  --theme-bg: theme('colors.green');
  --theme-bg-alt: rgba(255, 255, 255, 0.05);
  --theme-text: theme('colors.white');
  --theme-text-alt: theme('colors.gray.light');
  --theme-btn-bg: theme('colors.rose.DEFAULT');
  --theme-btn-bg-hover: theme('colors.rose.dark');
  --theme-btn-text: theme('colors.black');
}
